@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    color: #231D4F;
}


body {
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    overflow-x: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
    font-size: 2rem;

}

.navbar button {
    width: 124px;
    height: 38px;
    border-radius: 24px;
    border: none;
    background: #BB6BD9;
    color: white;
    font-family: "Poppins",
        "san-serif";
}

.navbar button:hover {
    background: #8736a5;
    color: white;
    font-weight: 500;
}

.container-title {
    padding: 1rem 18rem;

}

.container-subTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-title h2 {
    font-family: "Poppins";
    font-size: 40px;
    line-height: 70px;
    font-weight: 400;

}

.subtitle p {
    color: #848199;
    width: 590px;
    height: 54px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-top: 2rem;
}

.actionBtns {
    margin: 12px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    background: #fff
}

.actionBtn {
    padding: 1rem;
    width: 140px;
    height: 50px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 50px;
    color: black;
    cursor: pointer;
}

.movebtn {
    position: absolute;
    width: 140px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #ffff;
    background-color: #BB6BD9;
    transform: translateX(0);
    transition: all .2s ease-in-out;
    font-weight: 800;

}

.rightBtn {
    transform: translateX(100%);
    transition: all .2s ease-in-out;
    color: #ffff;
}

.box-container {
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 18rem;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.5);
}

.box {
    margin: 2rem;
}

.list li {
    list-style: none;
}

.list li:before {
    content: '\2714';
    color: #BB6BD9
}

.box .price {
    color: black;
    font-weight: bolder;
    font-size: 50px;
}

.box .price.year {
    display: none;
}

.box .list {
    margin: 20px 0;
}

.box .list h3 {
    font-size: 28px;
}

.box .list p {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 800;
}


.box {
    flex: 1;
    /* additionally, equal width */
    margin: 1rem 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 17rem;


}

.box,
.price {
    line-height: 2rem;
    padding-right: 1rem;
}

.btn,
.btn2,
.btn3 {
    font-size: 17px;
    background: #87509b86;
    color: #fff;
    padding: .5rem;
    width: 16rem;
    border-radius: 24px;
    font-family: "Poppins";
    font-family: 200;
}

.btn {
    margin-top: 2rem;
}

.btn2 {
    margin-top: 2rem;
}

.price,
.list h3,
.list p,
.list>li,
.btn,
.btn2,
.btn3 {
    margin-left: 1rem;
}

.btn:hover,
.btn2:hover,
.btn3:hover {
    background-color: #8736a5;
    font-weight: 500;
}

.box:hover span,
.box:hover li,
.box:hover h3,
.box:hover p {
    color: #fff;


}

.box:hover {
    background: #231D4F;
    border-radius: 24px;

}


@media (max-width:786px) {

    body {
        background: url('./background.jpeg');
        background-size: cover;
    }

    .navbar {
        font-size: 2rem;
        justify-content: space-between;
    }

    .navbar button {
        width: 100px;
        height: 35px;
        font-size: 14px;
        margin-top: .4rem;

    }

    .container-title {
        padding: 0px 2rem;
        display: block;
    }

    .container-title h2 {
        font-size: 20px;
        padding: 0rem 3rem;
        line-height: 30px;
    }

    .container-subTitle {
        display: block;
    }

    .subtitle p {
        width: 300px;
        height: 84px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        margin-left: 2rem;

    }

    .actionBtns {
        margin: 4rem;
    }

    .actionBtns,
    .actionBtn {
        width: 100px;
        height: 44px;
        text-align: justify;
    }

    .movebtn {
        width: 100px;
        height: 44px;
    }

    .rightBtn {
        transform: translateX(80%);
    }

    .box-container {
        display: block;
        margin: 1rem;

    }

    .box {
        display: block;
        margin: 1rem -2rem;
        padding-top: -1rem
    }
}


@media (min-width: 2080px) {
    .container {
        max-width: 980px;
        padding: auto auto;
        margin: auto auto;
    }

}