@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #231D4F;
    box-sizing: border-box;

}


body {
    overflow-x: none;

}

#pricing_details {
    background: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    max-width: 1250px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

}

.navbar {
    font-size: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

}

.navbar button {
    width: 124px;
    height: 38px;
    border-radius: 24px;
    border: none;
    background: #BB6BD9;
    color: white;
    font-family: "Poppins",
        "san-serif";
}

.navbar button:hover {
    background: #8736a5;
    color: white;
    font-weight: 500;
}

.title {
    padding: 4rem 2rem;
    padding-bottom: 10rem;

}

.subTitle-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
}

.title h2 {
    font-family: "Poppins";
    font-size: 40px;
    line-height: 70px;
    font-weight: 400;

}

.subtitle p {
    color: #848199;
    width: 590px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-top: 2rem;
    margin-right: 19rem;
}

.actionBtns {
    margin: 12px;
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    background: #fff;
}

.actionBtn {
    padding: 1rem;
    width: 140px;
    height: 50px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 50px;
    color: black;
    cursor: pointer;
}

.movebtn {
    position: absolute;
    width: 100px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #ffff;
    background-color: #BB6BD9;
    transform: translateX(0);
    transition: all .2s ease-in-out;
    font-weight: 800;

}

.rightBtn {
    transform: translateX(100%);
    transition: all .2s ease-in-out;
    color: #ffff;
}

.box-main {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 24px;


}


.box {
    margin: 2rem;
    border-radius: 24px;
}

.list li {
    list-style: none;
}

.list li:before {
    content: '\2714';
    color: #BB6BD9
}

.box .price {
    color: black;
    font-weight: bolder;
    font-size: 50px;
}

.box .price.year {
    display: none;
}

.box .list {
    margin: 20px 0;
}

.box .list h3 {
    font-size: 28px;
}

.box .list p {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 800;
}


.box {
    flex: 1;
    /* additionally, equal width */
    margin: 1rem 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 17rem;


}

.box,
.price {
    line-height: 2rem;
    padding-right: 1rem;
}

.btn,
.btn2,
.btn3 {
    font-size: 17px;
    background: #87509b86;
    color: #fff;
    padding: .5rem;
    width: 14rem;
    border-radius: 24px;
    font-family: "Poppins";
    font-family: 200;
    border: none;
}


.btn {
    margin-top: 2rem;
}

.btn2 {
    margin-top: 2rem;
}

.price,
.list h3,
.list p,
.list>li,
.btn,
.btn2,
.btn3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn:hover,
.btn2:hover,
.btn3:hover {
    background-color: #8736a5;
    font-weight: 500;
}

.box:hover span,
.box:hover li,
.box:hover h3,
.box:hover p {
    color: #fff;


}

.box:hover {
    background: #231D4F;
    border-radius: 24px;

}


@media (max-width:786px) {
    body {
        background: url("./background.jpeg");
        background-size: cover;
    }

    #pricing_details {
        background: none;
    }

    .title {
        display: block;
    }

    .subTitle-main {
        display: block;
    }

    .subtitle p {
        all: unset;
    }

    .box-main {
        display: block;
        margin-top: 5rem;
        margin-left: 1rem;
        margin-right: -.2rem;


    }

    .box {
        margin-left: 2rem;
    }
}